name: Docker build and push

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    tags:
      - 'refs/tags/*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    name: Build and push
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v4.4.0
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        platforms: linux/arm64,linux/amd64
        tags: |
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref }}
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        load: true

    - name: Get latest tag
      id: latest-tag
      run: echo "tag::$(git describe --abbrev=0 --tags)" >> "$GITHUB_ENV"

    - name: Tag image as latest
      if: success()
      uses: docker/cli@v20.10.8
      with:
        args: tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.latest-tag.outputs.tag }}

    - name: Push latest tag
      if: success()
      uses: docker/cli@v20.10.8
      with:
        args: push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.latest-tag.outputs.tag }}
